service:
  name: telegram-image-resizer
#app: your-app-name
#tenant: your-tenant-name

# Add the serverless-webpack plugin
plugins:
  - serverless-webpack

provider:
  name: aws
  region: eu-west-1
  runtime: nodejs10.x
  environment:
    TELEGRAM_BOT_TOKEN: ${env:TELEGRAM_BOT_TOKEN}
    RESIZE_REQUEST_QUEUE_NAME: ${self:service}-resize_requests-${opt:stage, self:provider.stage}
  iamRoleStatements:
    - Effect: Allow
      Action:
        - sqs:SendMessage
        - sqs:GetQueueUrl
      Resource: "arn:aws:sqs:${opt:region, self:provider.region}:*:${self:provider.environment.RESIZE_REQUEST_QUEUE_NAME}"

functions:
  receptionist:
    handler: handler.receiveTelegram
    events:
      - http:
          path: hello
          method: post
          cors: true
  resize:
    handler: handler.processResizeRequest
    layers:
      - arn:aws:lambda:${opt:region, self:provider.region}:175033217214:layer:graphicsmagick:2
    events:
      - sqs:
          arn:
            Fn::GetAtt:
              - ResizeRequestQueue
              - Arn

resources:
  Resources:
    ResizeRequestQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: ${self:provider.environment.RESIZE_REQUEST_QUEUE_NAME}
